# Ignore bundler config.
/.bundle

# Local configuration
.env

# Annoying mac directory pref files
**/.DS_Store

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
.DS_Store
