version: '3.3'

services:
  client:
    restart: on-failure
    ports:
      - 127.0.0.1:$PORT_CLIENT:80
    image: 'uwcirg/tb-mobile-app:$API_DOCKER_TAG'
    environment:
      NODE_ENV: development
      URL_API: $URL_API
      URL_CLIENT: $URL_CLIENT
      DEFAULT_LOCALE: $DEFAULT_LOCALE
      DOCKER_TAG: $API_DOCKER_TAG
      REDCAP_EOT_SURVEY_LINK: $REDCAP_EOT_SURVEY_LINK
      MANIFEST_NAME: $MANIFEST_NAME
  db:
    restart: always
    image: postgres:11
    volumes:
      - source: postgres-files
        target: /var/lib/postgresql/data
        type: volume
    environment:
      - POSTGRES_USER=webuser
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - RAILS_DB_NAME=$ENVIRONMENT
  bucket:
    restart: always
    image: minio/minio
    environment:
      - MINIO_ACCESS_KEY=$MINIO_ACCESS_KEY
      - MINIO_SECRET_KEY=$MINIO_SECRET_KEY
    volumes:
      - source: user-files
        target: /files
        type: volume
    entrypoint: sh
    command: -c 'mkdir -p /files/patient-test-photos && minio server /files'
    ports: 
       - 127.0.0.1:$PORT_MINIO:9000

  web:
    image: uwcirg/tb-foundation:$API_DOCKER_TAG
    environment:
      - URL_POSTGRES=postgres://webuser:$POSTGRES_PASSWORD@db
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - PORT=3000
      - RAILS_ENV=$ENVIRONMENT
      - SECRET_KEY_BASE=$SECRET_KEY_BASE
      - URL_API=$URL_API
      - CORS_ORIGINS=$CORS_ORIGINS
      - URL_MINIO=$URL_MINIO
      - REDIS_URL=redis://redis:$PORT_REDIS/12
      - MINIO_ACCESS_KEY=$MINIO_ACCESS_KEY
      - MINIO_SECRET_KEY=$MINIO_SECRET_KEY
      - RAILS_BASE_PASS=$RAILS_BASE_PASS
      - VAPID_PUBLIC_KEY=$VAPID_PUBLIC_KEY
      - VAPID_PRIVATE_KEY=$VAPID_PRIVATE_KEY
      - DEFAULT_LOCALE=$DEFAULT_LOCALE
      - DEPLOY_TIME_ZONE=$DEPLOY_TIME_ZONE
    ports:
      - 127.0.0.1:$PORT_API:3000
    depends_on:
      - redis
      - db
    restart: always

  redis:
    image: redis
    restart: always
    volumes:
      - source: redis-files
        target: /redis/
        type: volume
        
  sidekiq:
    restart: always
    image: uwcirg/tb-foundation:$API_DOCKER_TAG
    command: 'sidekiq'
    environment:
      - URL_POSTGRES=postgres://webuser:$POSTGRES_PASSWORD@db
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - PORT=3000
      - RAILS_ENV=$ENVIRONMENT
      - SECRET_KEY_BASE=$SECRET_KEY_BASE
      - URL_API=$URL_API
      - URL_MINIO=$URL_MINIO
      - REDIS_URL=redis://redis:$PORT_REDIS/12
      - MINIO_ACCESS_KEY=$MINIO_ACCESS_KEY
      - MINIO_SECRET_KEY=$MINIO_SECRET_KEY
      - RAILS_BASE_PASS=$RAILS_BASE_PASS
      - VAPID_PUBLIC_KEY=$VAPID_PUBLIC_KEY
      - VAPID_PRIVATE_KEY=$VAPID_PRIVATE_KEY
      - CORS_ORIGINS=$CORS_ORIGINS
      - DEFAULT_LOCALE=$DEFAULT_LOCALE
      - DEPLOY_TIME_ZONE=$DEPLOY_TIME_ZONE
    depends_on:
      - redis
      - db


volumes:
    user-files: {}
    redis-files: {}
    postgres-files: {}
